@import url("https://fonts.googleapis.com/css?family=Tangerine");

:root {
  /* TODO: add/change colors to what we agree on */
  --primary-color: #000000; 
  --secondary-color: #ece7e7; 
  --highlight-color: #ceb40c;
  --accent-color: #06b9f5; 
  --header-color: #174D6B;
  --font-family: Arial, sans-serif;
}

.App {
  text-align: left;
}

.App-logo {
  height: 300px;
}

.App-header {
  background-color: var(--secondary-color); 
  color: var(--header-color); 
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 16px;
}

label {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 20px;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

button:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

.ocr-output {
  margin-top: 20px;
  white-space: pre-wrap;
}


.pdf-ocr-viewer-container {
  display: flex;
  justify-content: space-between
}