@import url("https://fonts.googleapis.com/css?family=Lexend|Atkinson+Hyperlegible");

:root {
  /* TODO: add/change colors to what we agree on */
  --primary-color: #000000; 
  --secondary-color: #ece7e7; 
  --highlight-color: #ceb40c;
  --accent-color: #06b9f5; 
  --header-color: #174D6B;
  --font-family: Arial, sans-serif;
}

.App {
  /* text-align: left; */
  margin-left:5%;
  margin-top: 3%;
  margin-right:5%;

}
.App-inclusion {
  height: 150px;
}

.App-logo {
  height: 100px;
}

.App-fulllogo {
  height: 400px;
  text-align: 'center';
  justify-items: 'center';
  /* margin-left: 10%;
  margin-right: 20%; */
  margin-bottom: -200px;

}

.App-header {
  /* background-color: var(--secondary-color);  */
  color: var(--header-color); 
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 16px;
}

.elements {
  margin-left: '1rem';
}
label {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 20px;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

button:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

.ocr-output {
  margin-top: 20px;
  white-space: pre-wrap;
}


.pdf-ocr-viewer-container {
  display: flex;
  justify-content: space-between
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: 'blue';
  z-index: 1020;
}

.box {
  height: 80px;
  width: 100%;
  background-color: red;
  border: 3px green;
  background-color: blue;
  position: sticky;
  top: 0;
  right:0;
}